<mat-toolbar color="primary" class="toolbar">
  <span>Задачи</span>
  <button mat-icon-button (click)="openCreateDialog()" aria-label="Новая задача">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<div class="projects-container">
  <mat-card class="project" *ngFor="let project of projects">
    <header>
      {{ project.title }}
    </header>

    <mat-divider></mat-divider>

    <body>
      <ul>
        <li *ngFor="let todo of project.todos; let i = index; trackBy: todoTrackFn">
          <app-todo [(todo)]="project.todos[i]" [project_id]="project.id"></app-todo>
        </li>
      </ul>
    </body>
  </mat-card>
</div>
