.add-btn {
  position: absolute;
  right: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.toolbar {
  align-items: center;
  justify-content: center;
}

.container {
  min-width: 400px;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
