html,
body {
  height: 100%;
}

body {
  margin: 0;
}

// material ui overrides
.mat-overrides {

  .mat-flat-button {
    border-radius: 0;
  }

  .create-todo-dialog {
    .actions {
      .mat-button-wrapper {
        text-transform: uppercase;
      }
    }
  }

  .mat-form-field-appearance-outline {

    .mat-form-field-outline-start,
    .mat-form-field-outline-gap,
    .mat-form-field-outline-end {
      border-radius: 0;
    }
  }

  .mat-checkbox-checked {
    text-decoration: line-through;
  }

  .mat-checkbox-frame {
    border-radius: 0;
    border-width: 1px;
    border-color: #d4d9de;
  }

  .mat-checkbox-inner-container {
    height: 20px;
    width: 20px;
    margin-right: 26px;
  }

  .mat-checkbox-checkmark-path {
    stroke-width: 5px
  }

  .mat-checkbox-checkmark {
    width: 80%;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
  }

  .mat-checkbox-label {
    white-space: normal;
    word-break: break-word;
  }

}
